


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #25D5DA;

}

#main{
    width: 100%;
    height: 100vh;
    background-image: url("img/heroback.jpg");
    background-size: cover;
    position: fixed;
    top: 0;


}
#main_text {
    position: absolute;
    width: 731px;
    height: 160px;
    left: 140px;
    top: 244px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 109.4%;
    /* or 71px */
    letter-spacing: 0.03em;
    color: #25D5DA;
    opacity: 0.65;
}

h2 {
    position: absolute;
    width: 482px;
    height: 58px;
    left: 143px;
    top: 408px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 110.4%;
    /* or 26px */
    letter-spacing: 0.07em;
    color: #26D5DA;
}

#bot_with_kids {
    position: absolute;
    width: 731px;
    height: 501px;
    left: 1000px;
    top: 248px;
}
#button1 {
    position: absolute;
    width: 177.14px;
    height: 44.48px;
    left: 140px;
    top: 550px;
    background-color: #fae401;
    color: black;
    border-radius: 25px;
}
#button2 {
    position: absolute;
    width: 173.13px;
    height: 44.48px;
    left: 330.15px;
    top: 550px;
    background-color: #d6f1fb;
    color: #25D5DA;
    border-radius: 25px;
}
#button3 {
    background-color: #f0fbfe;
    color: #25D5DA;
    border-radius: 25px;

}
#button3:hover{
    color: #FA944B;
    text-decoration: none;

}
nav {
    width: 100%;
    height: 80px;
    background-color: #0000;
    line-height: 80px;

}
nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;

}
nav ul li a {
    text-decoration: none;
    color: black;
    padding: 30px;
    color: #25D5DA;
    font-family: Poppins

}
nav a:hover {
    color: #FA944B;
    text-decoration: none;

}


h3{
    position: absolute;
    width: 700px;
    height: 119.12px;
    left: 50%;
    top: 931.47px;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.8px;
    color: #2E5C70;
}

h5 {
    position: absolute;
    width: 466px;
    height: 39.71px;
    left: 500px;
    top: 1192.87px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 36px;
    /* or 75% */
    text-align: center;
    letter-spacing: 0.8px;

    color: #2F8ECB;
}

#lets_started {
    position: absolute;
    width: 700px;
    height: 119.12px;
    left: 50%;
    top: 1192.87px;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 36px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.8px;
    color: #2F8ECB;
}
#floating_robot {

    position: absolute;
    left: 45.97%;
    right: 45.59%;
    top: 21.73%;
    bottom: 75.78%;
    top: 1304px;

}
#video_parent {
    position: absolute;
    width: 374px;
    height: 276.84px;
    left: 241px;
    top: 1304px;

}
#mixkit {
    position: absolute;
    width: 374px;
    height: 276.84px;
    right: 241px;
    top: 1304px;
}
#Im_parent_button {
    position: absolute;
    width: 374px;
    height: 56.25px;
    left: 242px;
    top: 1634.04px;
    background-color: #25d5da;
    color: white;
    border-radius: 25px;
}
#Im_teacher_button {
    position: absolute;
    width: 374px;
    height: 56.25px;
    right: 241px;
    top: 1634px;
    background-color: #25d5da;
    color: white;
    border-radius: 25px;
}
#text1{

    position: absolute;
    width: 600px;
    height: 40px;
    left: 450px;
    top: 1819px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.8px;
    color: #003952;

}
#paragraph_1 {
    position: absolute;
    width: 452px;
    height: 180px;
    left: 238px;
    top: 1890px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    letter-spacing: 1px;

    color: #003952;

}
#arrow_right {
    position: absolute;
    left: 45.97%;
    right: 45.59%;
    top: 21.73%;
    bottom: 75.78%;
    top: 1819px;


}

#round_ball {
    position: absolute;
    width: 123.47px;
    height: 122.73px;
    left: 1680px;
    top: 1759.11px;

}
#arrow_turning_left{
    position: absolute;
    width: 95.59px;
    height: 168.99px;
    left: 1670px;
    top: 2052.75px;
}

#text2 {
    position: absolute;
    width: 310px;
    height: 40px;
    left: 1450px;
    top: 2200px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    letter-spacing: 0.8px;

    color: #003952;
}
#guided_progress_paragraph {
    position: absolute;
    width: 439px;
    height: 180px;
    left: 1300px;
    top: 2252px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    letter-spacing: 1px;

    color: #003952;

}


.feature-image {
    position: absolute;
    width: 374px;
    height: 276.84px;
    right: 241px;
    top: 1819px;
    position: absolute;
    width: 374px;
    height: 281px;

    border-radius: 10px;
}

#arrow_left {
    position: absolute;
    left: 45.97%;
    right: 45.59%;
    top: 21.73%;
    bottom: 75.78%;
    top: 2194px;

}
.feature-image_left {
    position: absolute;
    width: 374px;
    height: 281px;
    left: 241px;
    top: 2191px;

    border-radius: 10px;

}

#arrow_turning_right {
    position: absolute;
    width: 62.1px;
    height: 168.99px;
    left: 151px;
    top: 2422.49px;
}

#round_ball2 {
    position: absolute;
    width: 123.47px;
    height: 122.73px;
    left: 100px;
    top: 2200px;
}

#text3 {
    position: absolute;
    width: 266px;
    height: 40px;
    left: 375px;
    top: 2580px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    letter-spacing: 0.8px;

    color: #003952;

}
#paragraph_text_3 {
    position: absolute;
    width: 439px;
    height: 180px;
    left: 238px;
    top: 2650px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    letter-spacing: 1px;

    color: #003952;

}
#arrow_right_2 {
    position: absolute;
    left: 45.97%;
    right: 45.59%;
    top: 21.73%;
    bottom: 75.78%;
    top: 2580px;

}

.feature-image_3 {
    position: absolute;
    width: 374px;
    height: 281px;
    right: 241px;
    top: 2580px;
    border-radius: 10px;

}
#arrow_turning_left_2 {
    position: absolute;
    width: 95.59px;
    height: 168.99px;
    left: 1650px;
    top: 2800px;
}
#round_ball3 {

    position: absolute;
    width: 123.47px;
    height: 122.73px;
    left: 1700px;
    top: 2550px;
}

#text4 {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 1450px;
    top: 2950px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    letter-spacing: 0.8px;

    color: #003952;

}
#paragraph_text_4 {
    position: absolute;
    width: 439px;
    height: 180px;
    left: 1300px;
    top: 3050px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    letter-spacing: 1px;

    color: #003952;
}
#arrow_left_2 {
    position: absolute;
    left: 45.97%;
    right: 45.59%;
    top: 21.73%;
    bottom: 75.78%;
    top: 2935px;

}
.feature-image-left-4 {
    position: absolute;
    width: 374px;
    height: 281px;
    left: 241px;
    top: 2935px;
    border-radius: 10px;
}

#round_ball4 {
    position: absolute;
    width: 123.47px;
    height: 122.73px;
    left: 241px;
    top: 2800px;
}




/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:3500px;
}

footer h4 {
    color: #16222A;
}

footer a {
    color: black;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}



